<div class="row">
    <div class="col-sm-6">
        <h2>Burgers!</h2>
        <hr>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burger_item devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-6">
        <h2>Burgers Eaten!</h2>
        <hr>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burger_item devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <h3>Create a Burger!</h3>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="New Burger" aria-label="New Burger"
            aria-describedby="burgerSubmit">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="burgerSubmit">Submit</button>
        </div>
    </div>
</div>